* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	.board {
		.board-title {

		}
		.create-column {

		}
		.column-container {

		}
	}
	.column {
		.column-title{

		}
		.column-card-list {

		}
		.btn-delete {

		}
		.add-card {

		}
	}
	.card {
		.card-description {

		}
		.btn-delete {
		
		}
	}

}